<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
    <title>WebSocket-Mouse</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="wrapper">
      <button class="touchpad" id="touchpad">Тачпад</button>
      <div class="buttons">
        <button class="lkm" id="LKM">Левая кнопка мыши</button>
        <button class="pkm" id="PKM">Правая кнопка мыши</button>
      </div>
    </div>
    <script src="static/index.js"></script>
  </body>
</html>